[user]
	name = Clark Holdham
	email = clark.holdham@ouster.io

; include only if a remote within the ouster namespace is present
[includeIf "hasconfig:remote.*.url:git@gitlab.com:ouster/*/**"]
	path = ~/.gitconfig-ouster

[pull]
	rebase = true

[core]
	editor = vi

[init]
	defaultBranch = main
[credential "https://gitlab.com"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
